@use '../../../styles/values/colors.scss';
@use '../../../styles/values/animations.scss';
@use '../../../styles/values/typography.scss';

.treatmentsOuterContainer {
    // background-color: colors.$forest-green;
    position: relative;
}

.treatmentsContainer {
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: hidden;

    @media (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10rem;
        row-gap: 0;
        overflow: visible;
    }

    h2 {
        text-transform: uppercase;
        font-size: 0.78rem;
        letter-spacing: 1px;
        text-align: left;
        margin-bottom: 2rem;
    }

    .treatmentsBox {
        color: black;

        @media (min-width: 768px) {
            padding: 50px 0;
        }

        img {
            width: 45%;
            max-height: 500px;
            object-fit: cover;
            left: 0;
            position: absolute;
            top: 470px;
            margin-bottom: -50px;
            border-radius: 0 5px 0 0;

            @media (max-width: 768px) {
                width: 122%;
                position: relative;
                top: 0;
                margin-left: -1.25rem;
                margin-bottom: -85px;
                border-radius: 0;
            }
        }

        p {
            line-height: 1.35rem;
        }

        h2 {
            margin-top: 2rem;
            font-size: 1.6rem;
            text-transform: none;
            letter-spacing: normal;
            max-width: 500px;

            span {
                color: colors.$red-peach;
            }
        }
    }

    .treatmentsBox:nth-child(3) {
        padding: 2.5rem 0;
    }

    .treatmentsBox:last-child {
        margin-top: -350px;
        padding-top: 0;
    }

    .infoText {
        margin-bottom: 1rem;
    }

    .treatmentsBox:first-child h2 {
        margin-top: 2rem;
        font-size: 1.3rem;
        text-transform: none;
        letter-spacing: normal;
        max-width: 400px;
        margin-bottom: 4rem;

        @media (min-width: 768px) {
            margin-bottom: 0;
            font-size: 1.6rem;
            margin-top: 4rem;
        }

        span {
            color: colors.$red-peach;
        }
    }

    .treatmentItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        h3 {
            font-size: 20px;
            margin-bottom: 0.75rem;
            max-width: 300px;
            padding-left: 2px;
            font-family: typography.$sans;
        }

        .price {
            min-width: 85px;
        }

    }

    p {
        font-size: .9rem;
        font-family: typography.$sans;
        max-width: 500px;
    }

    .description {
        padding-left: 2px;
        max-width: 80%;
    }

}

.treatmentLink {
    &:hover {
        .treatmentWrapper::before {
            background-color: colors.$red-peach;
        }
    }

    &:focus {
        outline: none;
        color: colors.$red-peach;

        .treatmentWrapper::before {
            background-color: colors.$red-peach;
        }
    }
}

.treatmentWrapper {
    margin-bottom: 2.75rem;
    position: relative;

    &::before {
        width: 250%;
        height: 1px;
        background-color: black;
        position: relative;
        margin-bottom: 2.75rem;
        content: "";
        display: block;
    }

    .arrow {
        position: absolute;
        right: 2%;
        top: 55%;

        @media (min-width: 768px) {
            right: 2%;
            top: 55%;
        }

        svg {
            width: 35px;
            stroke-width: 1px;
        }
    }
}

.treatments {
    padding-top: 100px;
    padding-bottom: 100px;

    h2 {
        font-size: 1.6rem;
        text-transform: none;
        letter-spacing: normal;
        max-width: 400px;
        margin-bottom: 4.5rem;
    }

    .treatmentContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5rem;
        grid-auto-rows: 1fr;

        a {
            all: unset;
            cursor: pointer;

            &:hover {
                color: colors.$red-peach;

                .treatment::after {
                    background-color: colors.$red-peach;
                }
            }
        }

        .treatment {
            position: relative;

            h3 {
                font-size: 1.2rem;
                margin-bottom: 0.9rem;
                font-family: typography.$sans-medium;
                max-width: 200px;
            }

            p {
                margin-bottom: 2rem;
                font-size: .9rem;
                max-width: 250px;
            }

            &::after {
                position: absolute;
                content: '';
                height: 1px;
                width: 100%;
                background-color: black;
                display: block;
            }

            .arrow {
                position: absolute;
                right: 2%;
                top: 45%;

                svg {
                    width: 30px;

                }
            }
        }
    }
}

.beforeAfter {
    padding: 150px 0;
    background-color: colors.$light;

    &Container {}

    &Box {
        display: grid;
        grid-template-columns: 1fr 1.25fr;
        gap: 2rem;
        margin-bottom: 50px;

        &:nth-child(odd) {}

        &:nth-child(even) {
            div {
                text-align: right;
                position: relative;
                padding-left: 250px;

                p {
                    max-width: none;
                }

                &::before {
                    content: '';
                    display: block;
                    height: 1px;
                    background-color: black;
                    width: 35%;
                    position: absolute;
                    right: 0;
                    top: 160px;
                }
            }
        }


        div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                font-size: 19px;
                margin-bottom: .75rem;
            }

            p {
                font-size: .9rem;
                max-width: 270px;
            }

            &::before {
                content: '';
                display: block;
                height: 1px;
                background-color: black;
                width: 30%;
                position: relative;
                margin-bottom: 1.5rem;
            }
        }

        img {
            width: 450px;
        }
    }
}