@use '../../../styles/values/colors.scss';
@use '../../../styles/values/typography.scss';

.footerContainer {
    background-color: colors.$light;
    padding: 2rem 0;
    position: relative;

    @media (min-width: 768px) {
        padding: 5rem 0;
        padding-top: 6rem;
    }

    a {
        cursor: pointer;
    }

    .footerNav {
        display: block;
        margin-bottom: 1.5rem;

        @media (min-width: 400px) {
            display: grid;
            grid-template-columns: 1fr .75fr;
            gap: 25%;
            row-gap: 3rem;
        }

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 0.75fr;
            gap: 3rem;
        }

        h3 {
            font-size: 1.2rem;
            margin-bottom: 0.75rem;
            cursor: default;
        }

        ul {
            list-style: none;
            padding-left: 0;
        }

        .logo {
            img {
                height: 80px;
                margin-top: 2rem;
                opacity: 0.9;

                @media (min-width: 400px) {
                    margin-top: 5rem;
                }

                @media (min-width: 768px) {
                    margin-left: 0;
                    height: 120px;
                    margin-top: 2rem;
                }
            }
        }
    }

    .footerNavBottom {
        display: block;
        margin-bottom: 1.5rem;

        .footerLinks {
            margin-top: 4.5rem;

            @media (min-width: 768px) {
                margin-top: 2rem;
            }
        }

        // @media (min-width: 400px) {
        //     display: grid;
        //     grid-template-columns: 1.5fr 0.5fr;
        //     // gap: 12rem;
        // }

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1.5fr 1fr 0.5fr;
            gap: 12rem;
        }

        h3 {
            font-size: 1.2rem;
            margin-bottom: 0.75rem;
            cursor: default;
        }

        .footerLinks:nth-child(2) {
            margin-top: 4.2rem;
        }

        .footerHeading {
            font-family: typography.$serif;
            font-size: 1.8rem;
            line-height: 2rem;
            margin-bottom: 0.5rem;
        }
    }

    .footerLinks {
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;

        &:nth-child(3) {
            margin-top: 1rem;
        }

        @media (min-width: 640px) {
            margin-top: 1rem;
        }

        li a {
            font-size: .9rem;
            line-height: 1.8rem;
        }

        li {
            font-size: .9rem;
            line-height: 1.8rem;
        }

        .openingHours {
            @media (max-width: 640px) {
                max-width: 90%;
            }

            @media (max-width: 450px) {
                max-width: 100%;
            }

            li {
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.15rem;

                span {
                    // font-family: '';
                }
            }
        }

        .contact {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;

            a {
                color: colors.$red !important;
            }
        }

        h3 {
            font-family: typography.$sans-medium;
        }

        a {
            font-size: 1.05rem;
            line-height: 1.8rem;


            &:hover {
                text-decoration: underline;
            }

        }

    }

    .socials {
        margin-top: -1rem;
        display: flex;


        @media (min-width: 768px) {
            margin-top: 9rem;
        }

        a {
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }

            svg {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.75rem;
                fill: colors.$red-peach;
            }
        }

    }
}