@use '../../styles/values/colors.scss';
@use '../../styles/values/animations.scss';

.heroContainer {
    background-image: url("/hero/hero_light.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: 20% 0%;
    // background-color: colors.$dark;
    color: white;

    .heroContentSm {
        width: 100%;
        padding-top: 75%;
        margin-bottom: 50px;

        @media (min-width: 640px) {
            padding-top: 20%;
        }
    }

    &.sm {
        height: 55vh;
    }

    &.lg {
        height: 102vh;

        @media (min-width: 640px) {
            height: 90vh;
        }
    }

    &.xxl {
        background-image: url("/hero/hero_light.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: -webkit-fill-available;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

        .heroContentXxl {
            width: 100%;
            user-select: none;

            h2 {
                max-width: 100%;
                margin-left: 1rem;
                text-transform: uppercase;
                font-size: 1.5rem;
                letter-spacing: 0.2rem;
                margin-top: 50px;
                cursor: default;

                @media (min-width: 640px) {
                    font-size: 1rem;
                }
            }

            img {
                width: 15rem;
            }
        }
    }

    .heroContentLg {
        max-width: 80%;
        padding-top: 15rem;
        margin-bottom: 50px;

        @media (min-width: 640px) {
            padding-top: 25%;
            max-width: 30%;
        }
    }

    h1 {
        color: white;
        line-height: 3rem;
        margin-bottom: 0.75rem;

        @media (min-width: 640px) {
            line-height: 5rem;
            margin-bottom: 1.5rem;
        }
    }

    h2 {
        color: colors.$light;
        max-width: 100%;
        font-size: 1.2rem;
        line-height: 2rem;

        @media (min-width: 640px) {
            max-width: 60%;
        }
    }
}

.cardsContainer {
    margin-left: 30%;
    position: relative;
    padding: 3rem 0;
    display: none;

    @media (min-width: 640px) {
        display: block;
    }

    a {
        display: block;
        width: 300px;
        background-color: white;
        height: max-content;
        position: relative;
        z-index: 1;

        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }

        .cardContent {
            padding: 1.3rem 1.75rem;
        }

        h3 {
            font-size: 1.45rem;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }
    }

    a:first-child {
        position: absolute;
        right: 55%;
        top: -60px;
        background-color: colors.$dark;
        color: colors.$gray;

        &:hover {
            background-color: colors.$dark;
            color: colors.$gray;
        }

    }

    a:last-child {
        width: 350px;
        position: absolute;
        right: 10%;
        top: -150px;
        background-color: colors.$gray;
        color: colors.$dark;
        overflow: hidden;


        &:hover {}

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        img {
            width: 130%;
            margin-left: -65px;
        }

    }
}