@use '../../styles/values/colors.scss';

.heroContainer {
    // background-image: url("/hero/hero_dark.jpg");
    // background-repeat: no-repeat;
    // background-size: 130%;
    // background-position: 20% 50%;
    background-color: colors.$forest-green;
    min-height: 65vh;

    .heroContentSm {
        max-width: 40%;
        padding-top: 20rem;
        margin-bottom: 50px;
    }

    .heroContentLg {
        max-width: 40%;
        padding-top: 15rem;
        margin-bottom: 50px;
    }

    h1 {
        color: colors.$light;
        line-height: 5rem;
        margin-bottom: 1.5rem;
    }

    h2 {
        color: colors.$light;
        max-width: 70%;
    }
}