@use '../../styles/values/colors.scss';
@use '../../styles/values/animations.scss';

.heroContainer {
    // background-image: url("/hero/hero_dark.jpg");
    // background-repeat: no-repeat;
    // background-size: 130%;
    // background-position: 20% 50%;
    background-color: colors.$peach;

    .heroContentSm {
        width: 100%;
        padding-top: 75%;
        margin-bottom: 50px;

        @media (min-width: 640px) {
            padding-top: 45%;
        }
    }

    &.sm {
        height: 75vh;
    }

    &.lg {
        height: 75vh;
    }

    &.xxl {
        background-image: url("/hero/hero_light.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

        .heroContentXxl {
            width: 100%;
            user-select: none;

            h2 {
                max-width: 100%;
                margin-left: 1rem;
                text-transform: uppercase;
                font-size: 1.5rem;
                letter-spacing: 0.2rem;
                margin-top: 50px;
                cursor: default;

                @media (min-width: 640px) {
                    font-size: 1rem;
                }
            }

            img {
                width: 15rem;
            }
        }
    }

    .heroContentLg {
        max-width: 70%;
        padding-top: 15rem;
        margin-bottom: 50px;

        @media (min-width: 640px) {
            padding-top: 25%;
        }
    }

    h1 {
        color: colors.$light;
        line-height: 3rem;
        margin-bottom: 0.75rem;

        @media (min-width: 640px) {
            line-height: 5rem;
            margin-bottom: 1.5rem;
        }
    }

    h2 {
        color: white;
        max-width: 100%;

        @media (min-width: 640px) {
            max-width: 50%;
        }
    }
}

.cardsContainer {
    margin-left: 30%;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;

    a {
        width: 300px;
        background-color: white;
        height: max-content;
        position: relative;
        z-index: 1;

        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }

        .cardContent {
            padding: 1.5rem;
        }
    }

    a:last-child {
        width: 350px;
        margin-top: -150px;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

    }
}