@use '../styles/values/colors.scss';
@use '../styles/values/typography.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: typography.$sans;
  font-weight: normal;
  overflow-x: hidden;
}

@font-face {
  font-family: 'DM Sans Regular';
  src: url('/fonts/DMSans-Regular.woff') format('woff');
  src: url('/fonts/DMSans-Regular.woff2') format('woff2');
  src: url('/fonts/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans Medium';
  src: url('/fonts/DMSans-Medium.woff') format('woff');
  src: url('/fonts/DMSans-Medium.woff2') format('woff2');
  src: url('/fonts/DMSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans Bold';
  src: url('/fonts/DMSans-Bold.woff') format('woff');
  src: url('/fonts/DMSans-Bold.woff2') format('woff2');
  src: url('/fonts/DMSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Serif Display';
  src: url('/fonts/DMSerifDisplay-Regular.woff') format('woff');
  src: url('/fonts/DMSerifDisplay-Regular.woff2') format('woff2');
  src: url('/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
}

.container {
  width: 100%;
  padding: 0 1.25rem;

  @media (min-width: 1200px) {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: 1400px) {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.relative {
  position: relative;
}

.p-0 {
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  font-family: typography.$serif;
  font-weight: normal;

  @media (min-width: 640px) {
    font-size: 4rem;
  }

}

h2 {
  font-size: 1.25rem;
  margin: 0;
  font-family: typography.$sans;
  font-weight: normal;

  @media (min-width: 640px) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1rem;
  margin: 0;
  font-family: typography.$sans;
  font-weight: normal;
}

a {
  margin: 0;
  font-family: typography.$sans;
  font-weight: normal;
  text-decoration: none;
  color: unset;

  &:hover {
    color: colors.$red-peach;
  }
}

.splide__arrows {
  position: absolute;
  left: 1rem;
  top: 2.25rem;
  width: 85px;
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    left: -15px;
  }
}

.splide__arrow {
  position: relative !important;
  top: 0 !important;
  transform: none !important;
  background-color: transparent !important;
}

.splide__arrow--prev {
  left: 0;
}

.splide__arrow--next {
  right: 0;
}