@use '../styles/values/colors.scss';
@use '../styles/values/typography.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: typography.$sans;
  font-weight: normal;
  overflow-x: hidden;
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 2rem;

  @media (min-width: 1100px) {
    max-width: 1100px;
    margin: 0 auto;
  }
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  font-family: typography.$serif;
  font-weight: normal;

  @media (min-width: 640px) {
    font-size: 4rem;
  }

  @media (min-width: 768px) {
    font-size: 5rem;
  }
}

h2 {
  font-size: 1.25rem;
  margin: 0;
  font-family: typography.$sans;
  font-weight: normal;

  @media (min-width: 640px) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1rem;
  margin: 0;
  font-family: typography.$sans;
  font-weight: normal;
}

a {
  margin: 0;
  font-family: typography.$sans;
  font-weight: normal;
  text-decoration: none;
  color: unset;

  &:hover {
    color: colors.$red-peach;
  }
}