@use '../../styles/values/colors.scss';
@use '../../styles/values/animations.scss';
@use '../../styles/values/typography.scss';

.ctaContainer {
    position: relative;

    div:first-child {
        padding: 100px 2rem 150px 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .ctaSection {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        &:first-child {
            width: 500px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            object-fit: cover;
        }
    }

    .introTitle {
        max-width: 300px;

        h2 {
            font-family: 'DM Serif Display';
            font-size: 2.1rem;
        }

        p {
            margin-top: 1rem;
        }
    }

    .introText {
        div {
            font-size: 1.25rem;
            font-family: typography.$sans;
            text-align: left;
        }

        .prewrap {
            a {
                color: colors.$peach;

                &:hover {
                    color: colors.$red-peach;
                }
            }
        }
    }

}