@use '../../../styles/values/colors.scss';
@use '../../../styles/values/typography.scss';

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin-bottom: -110px;

    .logoContainer {
        position: absolute;
        top: 2rem;

        @media (min-width: 768px) {
            position: relative;
        }

        img {
            width: 65px;
            height: auto;
        }
    }

    &.light {
        a {
            color: black !important;
        }

        svg {
            stroke: colors.$red-peach !important;
        }

    }

    &.dark {
        a {
            color: white !important;
        }

        svg {
            stroke: white !important;
        }
    }

    .largeNav {
        position: relative;
        top: 2rem;

        ul {
            list-style: none;
            display: flex;

            li:not(:last-child) {
                margin-right: 2.5rem;
            }

            a {
                // color: colors.$red;
                font-size: 15px;

                &:hover {
                    text-decoration: underline;
                }
            }

            li.active a {
                font-family: typography.$sans-medium;
            }
        }
    }

    .mobileNav {
        button.navClosed {
            all: unset;
            cursor: pointer;
            width: 2.25rem;
            height: 2.25rem;
            padding: 0.1rem;
            display: block;
            position: absolute;
            top: 2rem;
            right: 1.25rem;

            svg {
                width: 2.25rem;
                height: 2.25rem;
                stroke: white;
            }

        }

        .navContainer {
            position: fixed;
            z-index: 100;
            top: 0;
            right: 0;
            transition-duration: 0.3s;
            transform: translateX(100%);
            opacity: 0;
            width: 100vw;
            padding: 2.5rem;
            padding-bottom: 6rem;
            margin-top: -50px;
            height: calc(100vh + 50px);
            background-color: colors.$light;

            @media (min-width: 1000px) {
                width: 60vw;
                padding: 3.5rem;
            }

            @media (min-width: 1200px) {
                width: 30vw;
            }

            &.open {
                opacity: 1;
                transform: translate(0%, 0%);
                overflow-y: scroll;
            }

            button {
                all: unset;
                cursor: pointer;
                width: 2.25rem;
                height: 2.25rem;
                padding: 0.1rem;
                position: absolute;
                top: 5rem;
                right: 2rem;
            }

            .navLinks {
                margin: 0;
                display: block;
                list-style: none;
                padding-left: 0;
                margin-top: 7rem;

                a {
                    font-size: 1.45rem;
                    margin-right: 1rem;
                    line-height: 3.5rem;
                    color: black !important;

                    &.active {
                        color: colors.$red-peach !important;
                    }
                }
            }

            .location {
                margin-top: 70px;

                h3 {
                    font-size: 1.25rem;
                    margin-bottom: 1rem;
                }

                ul {
                    list-style: none;
                    padding-left: 0;
                    margin-bottom: 1.5rem;

                    li {
                        font-size: 1.1rem;
                        line-height: 1.8rem;
                    }

                    &:last-child {
                        color: colors.$red-peach;
                        margin-bottom: 1.8rem;

                        li {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }

        .overlay {
            background-color: black;
            opacity: 0.5;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 99;
        }

        .language {
            position: absolute;
            right: 2rem;
            margin-top: 4rem;
        }

        .language a {
            color: black !important;
            letter-spacing: 1.5px;
        }

        .activeLanguage {
            text-decoration: underline;
            font-family: typography.$sans-medium;
        }
    }
}