@use '../../../styles/values/colors.scss';
@use '../../../styles/values/animations.scss';
@use '../../../styles/values/typography.scss';

.introOuter {
    position: relative;
    cursor: default;

    &.light {
        .bgRight {
            background-color: colors.$forest-green;
        }

        .border {
            background-color: white;
        }

        .introContainer {
            color: white;
        }
    }

    &.dark {
        .bgRight {
            background-color: colors.$light;
        }

        .border {
            background-color: colors.$red-peach;
        }

        .introContainer {
            color: colors.$red-peach;
        }
    }

    .bgRight {
        display: block;
        height: 100%;
        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 100vw;
        height: 549px;

        @media (min-width: 768px) {
            height: 100%;
            width: 55vw;
            position: absolute;
            right: 0;
            z-index: -1;
        }
    }

    // &:hover .border {
    //     width: 60%;
    // }

    .border {
        height: 2px;
        width: 0%;
        margin-top: 2rem;
        transition: 0.6s;
    }

    a {
        width: 120%;
        height: 120%;
    }

    a:hover {
        color: #fff;

        svg {
            @media (min-width: 768px) {
                transform: translateX(4px);
            }
        }

    }

    .introContainer {
        padding: 0;

        @media (min-width: 768px) {
            padding: 200px 1.25rem 100px 1.25rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .introTitle {
            width: 100%;
            padding: 0 1.25rem;
            padding-top: 9rem;
            padding-bottom: 5rem;

            @media (min-width: 768px) {
                max-width: 500px;
                padding-top: 10rem;
                padding-bottom: 0px;
                // padding-bottom: 70px;
            }

            h2 {
                font-family: typography.$serif;
                font-size: 2rem;
                line-height: 3rem;
                padding-right: 2rem;

                @media (min-width: 768px) {
                    font-size: 2.7rem;
                    line-height: 3rem;
                    padding-right: 0;
                }
            }

            p {
                font-size: 1rem;
                margin-top: 1rem;
                font-weight: 400;
                line-height: 1.5rem;
                max-width: 70%;

                @media (min-width: 768px) {
                    padding-right: 0;
                    max-width: 100%;
                    margin-top: 1.5rem;
                }
            }

            svg {
                transition: transform 0.3s ease-out;
                width: 45px;
                position: absolute;
                bottom: 4rem;
                right: 10%;

                @media (min-width: 768px) {
                    bottom: 2.5rem;
                    right: 3rem;
                }

                @media (min-width: 1300px) {
                    bottom: 5rem;
                    right: 5rem;
                }

                @media (min-width: 1500px) {
                    bottom: 5rem;
                    right: 8rem;
                }

                path {
                    stroke-width: 1px;
                }
            }
        }

        .introImage {
            img {
                position: relative;
                width: 100%;

                @media (min-width: 768px) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 47%;
                    height: 100%;
                    object-fit: cover;
                    margin-bottom: 0;
                }
            }
        }

    }
}

.bookingIntro {
    .bgRight {
        display: block;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100vw;
        height: 570px;

        @media (min-width: 768px) {
            height: 100%;
            bottom: 0;
            width: 55vw;
            position: absolute;
            left: 0;
            z-index: -1;
        }
    }

    .introContainer {
        padding: 80px 1.25rem;
        padding-bottom: 0;
        overflow: hidden;

        @media (min-width: 1200px) {
            padding: 200px 0rem;
        }
    }

    .introContainer .introTitle {
        padding: 0;
        padding-top: 0rem;
        padding-bottom: 100px;

        svg {
            transition: transform 0.3s ease-out;
            width: 45px;
            position: absolute;
            bottom: 2rem;
            left: 12%;

            @media (min-width: 768px) {
                bottom: 5.5rem;
                left: 25%;
            }

            path {
                stroke-width: 1px;
            }
        }

        svg.arrowDown {
            display: block;
            width: 50px;
            height: 50px;
            position: absolute;
            z-index: 99;
            top: 26%;
            left: 45%;

            @media (min-width: 768px) {
                display: none;
            }
        }

        h2 {
            font-family: typography.$sans;
            font-size: 1.3rem;

            @media (min-width: 768px) {
                font-size: 1.6rem;
            }
        }

        @media (min-width: 768px) {
            max-width: 400px;
            padding-bottom: 0px;
        }

        p {
            font-size: .9rem;
            max-width: 100%;

            @media (min-width: 768px) {
                font-size: 1rem;
            }
        }

        button {
            background-color: transparent;
            border: none;
            color: white;
            font-size: 1.1rem;
            font-weight: 500;
            margin-top: 2rem;
            font-family: typography.$sans;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;

            svg {
                transition: transform 0.3s ease-out;
                width: 25px;
                position: relative;
                right: 20px;
                bottom: 0;
                margin-right: 20px;
                display: inline-block;

                path {
                    stroke-width: 1.5px;
                }
            }

            &:hover {
                svg {
                    @media (min-width: 768px) {
                        transform: translateX(4px);
                    }
                }
            }
        }
    }

    .introContainer .introImage {
        div:first-child {
            background-color: colors.$light;
            margin-left: -1.25rem;
            width: 115%;
            min-height: 850px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            @media (min-width: 768px) {
                min-height: 550px;
            }

            &::after {
                @media (min-width: 768px) {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: black;
                    opacity: 0.05;
                }
            }

            @media (min-width: 768px) {
                position: absolute;
                top: 0;
                width: 48%;
                min-height: 100%;
                height: 100%;
                right: 0;
            }
        }

        img {
            margin-bottom: 0;
            position: relative;
            width: 20%;
            height: 100%;
            object-fit: contain;
            z-index: 30;
        }

        .iframeContainer {
            width: 95%;
            height: 100%;
            position: relative;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: 50;

            @media (min-width: 768px) {
                width: 100%;
            }

            iframe {
                width: 100%;
                height: 100%;
                border: none;
            }
        }
    }
}

.bookingContainer {
    padding: 75px 0rem;
    position: relative;

    @media (min-width: 768px) {
        padding: 150px 0rem;
    }

    .bookingInfo {
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1.25fr;
        }

        h2 {
            margin-bottom: 2rem;
            font-size: 1.3rem;

            @media (min-width: 768px) {
                font-size: 1.6rem;
            }

            span {
                color: colors.$red-peach;
            }

            @media (min-width: 768px) {
                margin-bottom: 1rem;
                max-width: 350px;
            }
        }

        p {
            font-size: .9rem;

            @media (min-width: 768px) {
                max-width: 70%;
                font-size: 1rem;
            }

            a {
                color: colors.$red-peach;

                &:hover {
                    color: colors.$red;
                }
            }
        }

        p:last-child {
            margin-top: 1rem;
        }
    }
}

.bookingModal {
    visibility: hidden;
    // display: none;

    &.open {
        visibility: visible;
    }

    .bookingOverlay {
        width: 100vw;
        height: 100%;
        position: fixed;
        background-color: black;
        opacity: 0.5;
        z-index: 100;
        top: 0;
    }

    .bookingInner {
        background-color: white;
        position: fixed;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        width: 95%;
        height: 90%;
        z-index: 101;

        @media (min-width: 768px) {
            width: 50%;
            height: 80%;
        }

        .bookingClose {
            width: 30px;
            height: 30px;
            position: absolute;
            left: 1.25rem;
            top: 1.5rem;
            z-index: 100;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}