$white:                 #FFFFFF;
$light:                 #F3EAEA;
$light-peach:           #FFBDBD;
$peach:                 #FF7777;
$red-peach:             #FF5757;
$forest-green:          #485742;
$dark:                  #484444;