$white:                 #FFFFFF;
$gray:                  #ebebeb;
$light:                 #F3EAEA;
$lightest-peach:        #FFD1D1;
$light-peach:           #FFBDBD;
$peach:                 #FF7777;
$red-peach:             #FF5757;
$red:                   #F12C2C;
// $forest-green:          #485742;
$forest-green:          #4e5c48;
$dark:                  #484444;