$sans: 'DM Sans Regular', DM Sans, Montserrat;
$sans-medium: 'DM Sans Medium', DM Sans, Montserrat;
$sans-bold: 'DM Sans Bold', DM Sans, Montserrat;
$serif: 'DM Serif Display', DM Serif Display, Montserrat;