@use '../../../styles/values/colors.scss';
@use '../../../styles/values/animations.scss';
@use '../../../styles/values/typography.scss';

.treatmentsOuterContainer {
    position: relative;
    overflow-x: hidden;
}

.treatmentsContainer {
    padding-top: 25px;
    padding-bottom: 25px;

    @media (min-width: 1002px) {
        padding-top: 50px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        row-gap: 0;
    }

    .treatmentsBox {
        color: black;

        &:last-child {
            @media (min-width: 768px) {
                margin-top: -500px;
            }
        }

        @media (min-width: 768px) {
            padding: 50px 0;
        }

        img.intro {
            width: 112%;
            margin-left: -1.25rem;
            margin-bottom: -8px;
            position: relative;
            z-index: 10;

            @media (min-width: 1000px) {
                width: 50%;
                margin-left: 0;
                max-height: 500px;
                object-fit: cover;
                right: 0;
                position: absolute;
                top: 0px;
            }

        }

        h2 {
            margin-top: 2rem;
            font-size: 1.6rem;
            text-transform: none;
            letter-spacing: normal;

            span {
                color: colors.$red-peach;
            }

            @media (min-width: 1000px) {
                max-width: 400px;
            }
        }

        h3 {
            margin-bottom: 1.5rem;
            margin-top: 3rem;
            font-size: 1.4rem;

            span {
                color: colors.$red-peach;
            }
        }

        p {
            margin-bottom: 1rem;
        }
    }

    .treatmentsBox:first-child h2 {
        margin-top: 2rem;
        font-size: 1.3rem;
        text-transform: none;
        letter-spacing: normal;
        max-width: 400px;
        margin-bottom: 4rem;

        @media (min-width: 768px) {
            margin-bottom: 7rem;
            font-size: 1.6rem;
            margin-top: 2rem;
        }

        span {
            color: colors.$red-peach;
        }
    }

    .treatmentItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        h3 {
            font-size: 20px;
            margin-bottom: 0.75rem;
            width: max-content;
            padding-left: 2px;
            font-family: typography.$sans;
            max-width: 80%;

            @media (min-width: 768px) {
                max-width: none;
            }
        }
    }

    p {
        font-size: .9rem;
        font-family: typography.$sans;
        max-width: 450px;
        line-height: 1.35rem;
    }

    .description {
        padding-left: 2px;
    }

}

.treatmentLink {
    &:hover {
        .treatmentWrapper::before {
            background-color: colors.$red-peach;
        }
    }
}

.bullets {
    list-style: none;
    margin: 50px 0;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    li {
        font-size: .9rem;
        margin: 20px 0;
        display: flex;
        align-items: center;

        @media (min-width: 768px) {
            margin: 10px 0;
        }

        img {
            width: 25px;
            margin-right: 15px;

            @media (min-width: 768px) {
                width: 30px;
            }
        }
    }
}

.treatmentWrapper {
    margin-bottom: 2.75rem;
    position: relative;
    cursor: pointer;

    &.active {
        color: colors.$red-peach;

        &::before {
            background-color: colors.$red-peach;
        }
    }

    @media (min-width: 768px) {
        &:hover {
            color: colors.$red-peach;

            &::before {
                background-color: colors.$red-peach;
            }
        }
    }

    &::before {
        width: 250%;
        height: 1px;
        background-color: black;
        position: relative;
        content: "";
        display: block;
    }

    .arrow {
        position: absolute;
        right: 2%;
        top: 35%;
        font-size: 1.9rem;
        font-family: typography.$sans;
        font-weight: 100;
        transition: linear 0.1s;

        &.active {
            transform: rotate(45deg);
        }
    }
}

.treatments {
    padding-top: 100px;
    padding-bottom: 100px;

    h2 {
        font-size: 1.6rem;
        text-transform: none;
        letter-spacing: normal;
        max-width: 400px;
        margin-bottom: 4.5rem;
        font-family: typography.$sans-medium;
    }

    .treatmentContainer {
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 5rem;
            grid-auto-rows: 1fr;
        }

        .treatment {
            position: relative;

            h3 {
                font-size: 1.2rem;
                margin-bottom: 0.9rem;
                font-family: typography.$sans-medium;
                max-width: 200px;
            }

            p {
                margin-bottom: 2rem;
                font-size: .9rem;
                max-width: 250px;
            }

            &::after {
                position: absolute;
                content: '';
                height: 1px;
                width: 100%;
                background-color: black;
                display: block;
            }

            .arrow {
                position: absolute;
                right: 2%;
                top: 45%;

                &.active {
                    transform: rotate(90deg);
                }
            }
        }
    }
}

.accordionContent {
    margin-top: -0.5rem;
    margin-bottom: 2.5rem;

    p {
        max-width: none;
    }
}