@use '../../styles/values/colors.scss';
@use '../../styles/values/animations.scss';
@use '../../styles/values/typography.scss';

.aboutContainer {
    background-color: colors.$light;
    color: colors.$dark;

    .aboutInner {
        padding: 50px 2rem 150px 2rem;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 4rem;
    }

    .introAbout {
        // max-width: 300px;

        h2 {
            color: colors.$red-peach;
            font-size: 1.9rem;
        }

        p {
            margin-top: 1rem;
        }
    }

    .imageAbout {
        div {
            font-size: 1.25rem;
            font-family: typography.$sans;
            text-align: left;
        }

        img {
            margin-top: -100px;
            width: 500px;
        }
    }

}

.employeesContainer {
    background-color: colors.$dark;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;

    h2 {
        margin-bottom: 2rem;
    }

    .employeesInner {
        // padding: 150px 2rem 150px 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 4rem;

        .employee {
            img {
                width: 100%;
            }

            .info {
                margin: 0.5rem 0;
            }
        }
    }
}