@use '../../../styles/values/colors.scss';
@use '../../../styles/values/animations.scss';
@use '../../../styles/values/typography.scss';

.priceOuterContainer {
    // background-color: colors.$forest-green;

    &.light {
        .payment {
            background-color: colors.$forest-green;
            color: white;
        }
    }

    &.dark {
        .payment {
            background-color: colors.$light;
            color: colors.$red-peach;
        }
    }
}

.priceContainer {
    padding-top: 25px;
    padding-bottom: 25px;

    @media (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10rem;
        row-gap: 0;
    }

    h2 {
        text-transform: uppercase;
        font-size: 0.78rem;
        letter-spacing: 1px;
        text-align: left;
        margin-bottom: 2rem;
    }

    .priceBox {
        padding: 20px 0;
        color: black;

        &:first-child {
            padding: 0;
        }

        @media (min-width: 768px) {
            padding: 50px 0;
        }
    }

    .priceBox:nth-child(3) {
        padding: 2.5rem 0;
        padding-top: 0;
    }

    .priceBox:nth-child(2) {
        padding-bottom: 1rem;
    }

    .priceBox:first-child h2 {
        margin-top: 2rem;
        font-size: 1.3rem;
        text-transform: none;
        letter-spacing: normal;
        max-width: 500px;

        @media (min-width: 768px) {
            font-size: 1.6rem;
            margin-top: 7rem;
        }

        span {
            color: colors.$red-peach;
        }
    }

    .treatmentItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        h3 {
            font-size: 1.12rem;
            margin-bottom: 0.5rem;
            width: max-content;
            font-family: typography.$sans-medium;
        }

        .price {
            min-width: 85px;
            text-align: right;
        }

        .line {
            content: "";
            display: block;
            height: 1px;
            width: 80%;
            background-color: colors.$light;
            margin: 0 20px;
        }
    }

    p {
        font-size: .9rem;
        font-family: typography.$sans;
    }

    .description {
        margin-bottom: 2rem;
    }

}

.payment {
    margin: 0;
    padding: 1.25rem;
    padding-top: 150px;
    // background-color: colors.$forest-green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 112%;
    margin-left: -1.25rem;
    margin-bottom: -25px;
    position: relative;

    @media (min-width: 768px) {
        margin: 2.5rem 0 3rem 0;
        width: 100%;
        padding: 50px;
        padding-top: 170px;
        width: 200%;
        margin-left: -1.25rem;
    }

    div {
        @media (min-width: 768px) {
            max-width: 50%;
            position: absolute;
            top: 170px;
            left: 50px;
        }
    }

    h2 {
        font-family: typography.$serif;
        font-size: 2.4rem;
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
        text-transform: none;
        letter-spacing: 0;

        @media (min-width: 768px) {
            margin-right: 50px;
        }
    }

    p {
        font-size: 1rem;
        margin-bottom: 1rem;
        line-height: 1.5rem;
    }
}

.treatments {
    padding-top: 100px;
    padding-bottom: 100px;

    h2 {
        font-size: 1.6rem;
        text-transform: none;
        letter-spacing: normal;
        max-width: 400px;
        margin-bottom: 4.5rem;
    }

    .treatmentContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5rem;
        grid-auto-rows: 1fr;

        a {
            all: unset;
            cursor: pointer;

            &:hover {
                color: colors.$red-peach;

                .treatment::after {
                    background-color: colors.$red-peach;
                }
            }
        }

        .treatment {
            position: relative;

            h3 {
                font-size: 1.2rem;
                margin-bottom: 0.9rem;
                font-family: typography.$sans-medium;
                max-width: 200px;
            }

            p {
                margin-bottom: 2rem;
                font-size: .9rem;
                max-width: 250px;
            }

            &::after {
                position: absolute;
                content: '';
                height: 1px;
                width: 100%;
                background-color: black;
                display: block;
            }

            .arrow {
                position: absolute;
                right: 2%;
                top: 45%;

                svg {
                    width: 30px;

                }
            }
        }
    }
}