@use '../../../styles/values/colors.scss';
@use '../../../styles/values/animations.scss';
@use '../../../styles/values/typography.scss';

.bookingContainer {
    background-color: colors.$light;
    color: colors.$dark;

    .aboutInner {
        padding: 50px 1.25rem 0px 1.25rem;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 4rem;
    }

    .introAbout {
        margin: 50px 0;

        svg {
            width: 50px;
            height: 50px;
        }

        h2 {
            font-size: 1.9rem;
        }

        p {
            margin-top: 1rem;

            span {
                color: colors.$red-peach;
            }
        }

        h3 {
            margin: 30px 0;
            font-size: 1.25rem;
        }
    }

    .iframeContainer {
        iframe {
            margin-top: -150px;
            width: 100%;
            min-height: 800px;
            border: none;
        }
    }

}

.employeesContainer {
    background-color: colors.$dark;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;

    h2 {
        margin-bottom: 2rem;
    }

    .employeesInner {
        // padding: 150px 2rem 150px 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 4rem;

        .employee {
            img {
                width: 100%;
            }

            .info {
                margin: 0.5rem 0;
            }
        }
    }
}