@use '../../../styles/values/colors.scss';
@use '../../../styles/values/animations.scss';
@use '../../../styles/values/typography.scss';

.partnerContainer {
    background-color: colors.$light;
    color: colors.$dark;
    position: relative;
    overflow: hidden;

    .partnerInner {
        padding: 50px 1.25rem 0 1.25rem;
        overflow-y: hidden;
        overflow-x: hidden;

        @media (min-width: 768px) {
            padding: 100px 1.25rem;
            display: grid;
            grid-template-columns: 1.9fr 1fr;
            gap: 6rem;
        }

        @media (min-width: 1200px) {
            padding: 100px 0;
            padding-bottom: 50px;
        }
    }

    .introPartner {
        @media (min-width: 768px) {
            padding-right: 5rem;
        }

        h2 {
            font-family: typography.$serif;
            font-size: 2rem;
            margin-bottom: 25px;
            color: black;

            @media (min-width: 768px) {
                max-width: 250px;
                font-size: 2.25rem;
            }
        }

        p {
            font-size: .9rem;
            margin-top: 1rem;

            @media (min-width: 768px) {
                font-size: 1rem;
                max-width: 90%;
            }
        }
    }

    .partnerImage {
        position: relative;
        height: auto;
        width: 120%;
        margin-left: -2rem;

        @media (min-width: 768px) {
            height: 500px;
            width: 100%;
            margin-left: 0;
            position: unset;
        }

        img {
            width: 110%;
            height: 120%;
            // position: absolute;
            // bottom: 0px;
            // left: -2rem;
            object-fit: cover;

            @media (min-width: 768px) {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 45%;
                object-fit: cover;
                border-radius: 5px 0 0 5px;
            }
        }

        .ibsaLogo {
            position: absolute;
            right: 10%;
            bottom: 25px;
            width: 150px;
            height: auto;
            opacity: 0.8;

            @media (min-width: 768px) {
                right: 35px;
                top: 78%;
            }
        }
    }

    .bullets {
        list-style: none;
        margin: 50px 0;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        li {
            font-size: .9rem;
            margin: 20px 0;
            display: flex;
            align-items: center;

            @media (min-width: 768px) {
                margin: 10px 0;
            }

            img {
                width: 25px;
                margin-right: 15px;

                @media (min-width: 768px) {
                    width: 30px;
                }
            }
        }
    }

}